{% load static %}
<aside id="sidebar-left" class="sidebar-left" style="background-color: #171717;">
    <div class="sidebar-header">
        <div class="sidebar-title">
            <p style="color: rgb(255, 255, 255); font-weight: bolder;">Navigation</p>
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <a href="{% url 'dashboard' %}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <li>
                            <a href="{% url 'tabela_pacientes' %}">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span>Tabela</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'form_paciente' %}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span>Formulário Paciente</span>
                            </a>
                        </li>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</aside>
<!-- end: sidebar -->
