<div class="col-md-3 col-lg-3">
    <section class="panel panel-featured-left panel-featured-success">
        <div class="panel-body">
            <div class="widget-summary widget-summary-md">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-success">
                        <i class="fa fa-life-ring"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <h4 class="titleProtocol text-semi-bold">Anamnese<br>&nbsp;</h4>
                        <div class="info">
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-xs btn-default modal-with-move-anim" href="#modalJoelho">Visualizar</button>
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-xs btn-default">Resultados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="modalJoelho" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide modal-global modal-header-color">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Protocolo - Anamnese</h2>
        </header>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">1</span> Ângulo Poplíteo Unilateral Passivo:</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: Menor do que 30°</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">2</span> Ângulo Poplíteo Unilateral Ativo:</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: Menor do que 30°</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">3</span> Teste de Ober:</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: Menor do que -25°</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">4</span> Rotação Interna do Quadril:</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: 30° a 40°</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">5</span> Rotação Externa do Quadril:</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: 40° a 50°</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">6</span> Teste de Thomas Modificado:</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: Menor do que -11°</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">7</span> Flexão do Joelho</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: Acima de 135°</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">8</span> Ângulo Poplíteo Unilateral Passivo:</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: Menor do que 30°</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">9</span> Extensão do Joelho</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: -10° a 0°	</code></div>
            </div>
            <hr style="margin:8px;">
            <div class="row">
                <div class="col-sm-12"><p class="questionModalProtocol"><span class="questionModalNr">10</span> Dorsi Flexão em Cadeia Fechada:</p></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Esq:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dir:</span><input class="form-control"></div></div>
                <div class="col-sm-4"><div class="input-group"><span class="input-group-addon labelAddon">Dif:</span><input class="form-control"></div></div>
                <div class="col-sm-12"><code>Valor de Referência: Acima de 42°</code></div>
            </div>


        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" id="impCustom">Salvar</button>
                    <button class="btn btn-default modal-dismiss modal-close">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>