{% load static %}
{% load tag_library %}


<section role="main" class="content-body" style="padding: 15px;">
    <header class="page-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Meus exames</h2>
    </header>

    <!-- start: page -->
    <section class="panel">

        <div class="panel-body">
            <table class="table table-hover mb-none" style="text-align: center;">
                <thead>
                    <tr>
                        <th style="text-align: center;"> Data </th>
                        <th style="text-align: center;"> Paciente </th>
                        <th style="text-align: center;"> Exame </th>
                        <th style="text-align: center;"> Protocolo </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>23/05/1995</td>
                        <td>André Arruda</td>
                        <td>Joelho</td>
                        <td>J-1245</td>
                        <td class="actions-hover actions-fade">
                            <a href=""><i class="fa fa-eye"></i></a>
                            <a href=""><i class="fa fa-print"></i></a>
                            <a href=""><i class="fa fa-cloud-download"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>23/05/1995</td>
                        <td>André Arruda</td>
                        <td>Joelho</td>
                        <td>J-1245</td>
                        <td class="actions-hover actions-fade">
                            <a href=""><i class="fa fa-eye"></i></a>
                            <a href=""><i class="fa fa-print"></i></a>
                            <a href=""><i class="fa fa-cloud-download"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>23/05/1995</td>
                        <td>André Arruda</td>
                        <td>Joelho</td>
                        <td>J-1245</td>
                        <td class="actions-hover actions-fade">
                            <a href=""><i class="fa fa-eye"></i></a>
                            <a href=""><i class="fa fa-print"></i></a>
                            <a href=""><i class="fa fa-cloud-download"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- end: page -->

</section>
