{% load static %}
{% load tag_library %}


<section role="main" class="content-body" style="padding: 15px;">
    <header class="page-header" style="display: flex; align-items: center; justify-content: space-between; padding: 0px;">
        <h2>Lista de pacientes</h2>
        <a href="./form_paciente" class="btn btn-primary"  style="max-height: 34px; margin-right: 30px; text-align: center;">
            <p style="font-size:3hw; overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap">Adicionar paciente <b>+</b></p>
        </a>
    </header>

    <!-- start: page -->
    <section class="panel">

        <div class="panel-body">
            <table class="table table-striped mb-none" style="border: 2px solid rgba(214, 214, 214, 0.199);" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th> Paciente </th>
                        <th style="text-align: center;"> Gênero </th>
                        <th> Idade </th>
                        <th> Unidade </th>
                        <th> Responsável </th>
                        <th> Status </th>
                        <th> Ações </th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                        <tr class="gradeX">
                            <td><a href="protocolo_view/{{paciente.id}}">{{ paciente }}</a></td>
                            <td style="text-align: center;">
                                {% if paciente.genero == 'F' %}
                                    <i class="fa fa-female" style="color: rgb(238, 40, 179);">
                                {% else %}
                                    <i class="fa fa-male text-primary">
                                {% endif %}
                                        <p hidden>{{ paciente.genero }}</p>
                                    </i>
                            </td>
                            <td>{{ paciente.data_nascimento|age }}</td>
                            <td>{{ paciente.unidade }}</td>
                            <td>{{ paciente.responsavel }}</td>
                            <td>
                                {% if paciente.status == 'Em andamento' %}
                                    <i class="fa fa-circle text-primary"></i>
                                {% elif paciente.status == 'Aberto' %}
                                    <i class="fa fa-circle text-default"></i>
                                {% else %}
                                    <i class="fa fa-circle text-success"></i>
                                {% endif %}
                                &nbsp; {{ paciente.status }}
                            </td>
                            <td class="actions-hover actions-fade">
                                <a href="./edit_paciente/{{paciente.id}}"><i class="fa fa-pencil"></i></a>
                                <a href="#modalExclude" class="modal-with-move-anim"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- end: page -->

</section>


<!-- Excluir paciente -->
<div id="modalExclude" class="zoom-anim-dialog modal-block modal-block-danger mfp-hide modal-global">
    <section class="panel panel-danger">
        <header class="panel-heading">
            <h2 class="panel-title">Atenção!</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-times-circle"></i>
                </div>
                <div class="modal-text">
                    <h4>Atenção!</h4>
                    <p>Deseja realmente excluir esse paciente da base de dados?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <form action="./delete_paciente/{{paciente.id}}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-danger" type="submit" id="impCustom">Sim</button>
                        <button class="btn btn-default modal-dismiss modal-close">Cancelar</button>
                    </div>
                </div>
            </form>
        </footer>
    </section>
</div>
