{% extends '../partials/base.html' %}
{% load static %}

{% block body_content %}
    <section class="body">
		<!-- start: page -->
		<section class="body-error error-inside">
			<div class="center-error">
				<div class="row">
					<div class="main-error mb-xlg">
						<h2 class="error-code text-dark text-center text-semibold m-none">500 <i class="fa fa-bomb"></i></h2>
						<p class="error-explanation text-center"><br>Desculpe o transtorno, mas aconteceu algo errado :(</p>
					</div>
				</div>
			</div>
		</section>
	<!-- end: page -->
	</section>
{% endblock %}