{% extends '../../partials/base/base.html' %}
{% load static %}

{% block body_content %}
    <section class="body">

        <!-- start: header -->
        {% include '../../partials/base/header.html' %}
        <!-- end: header -->


        <!-- start: content -->
        <div class="inner-wrapper">
            {% include '../../partials/base/sidebar.html' %}

            {% include '../base/base_edit_paciente.html' %}
        </div>
        <!-- end: content -->

    </section>
{% endblock %}

{% block other_scripts %}
    <!-- Slider listener -->
    <script>
        (function() {
            $('#listenSlider').change(function() {
                $('.output b').text( this.value/10 );
            });
        })();
    </script>
{% endblock %}
