<div id="modalProtocolos" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide modal-global">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Selecione os protocolos</h2>
        </header>
        <form action="{{ paciente.id }}" method="POST" id="form_checkbox">
            {% csrf_token %}
            <div class="panel-body">
                <div class="form-group">

                    <div class="col-sm-6">
                        {% for protocolo, value in protocolos_nome_col1.items %}
                            <div class="checkbox-custom chekbox-primary">
                                <input type="checkbox" value='{{ protocolo }}' name='checks'
                                    {% if protocolo in protocolos %} checked {% endif %}>
                                <label for="for-project">{{value}}</label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-sm-6">
                        {% for protocolo, value in protocolos_nome_col2.items %}
                            <div class="checkbox-custom chekbox-primary">
                                <input type="checkbox" value='{{ protocolo }}' name='checks'
                                    {% if protocolo in protocolos %} checked {% endif %}>
                                <label for="for-project">{{value}}</label>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </form>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" form="form_checkbox" class="btn btn-primary">Salvar</button>
                    <button class="btn btn-default modal-dismiss modal-close">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>
